{{define "header"}}
<header>
    <h1>Blockchain</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add">Add Block</a></li>
        </ul>
    </nav>
     <h1>{{.}}</h1>
</header>
{{end}}